<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chatty</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a [routerLink]="['Messages']">Messages</a></li>
                <li><a [routerLink]="['Users']">Users</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
