<div class="container">
    <h4>Users</h4>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#user of users">
            <td style="text-align: left; width:10%">{{user.id}}</td>
            <td style="text-align: left; width:10%">{{user.fullName}}</td>
            <td style="text-align: left; width:80%">{{user.email}}</td>
        </tr>
        </tbody>
    </table>
</div>
